.scoreboard {
    display: flex;
    justify-content: space-evenly;
}

.result {
    height: 10vh;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

button {
    background: cornflowerblue;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
}